/* CSS RESET */

*,
*::before,
*::after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

html, body {
    height: 100%;
    width: 100%;
}

body {
    box-sizing: border-box;
    padding-left: 25px;
    padding-top: 15px;
}

button,
input {
    /* border: none; */
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    cursor: pointer;
    /* outline: none; */
}

input[type="text"],
input[type="number"],
input[type="email"] {
    cursor: text;
}

h3 {
    /* margin-left: 5px; */
    margin-top: 10px;
}

table {
    width: 550px;
    /* margin-left: 5px; */
  }
  
  form {
    width: 550px;
    /* margin-left: 5px; */
    margin-top: 10px;
  }
  
  form > button {
    margin-left: 2px;
    margin-top: 3px;
    margin-bottom: 5px;
  }
  
  fieldset {
    display: flex;
    flex-direction: column;
    padding: 5px;
  }
  
  table, th, td {
    border: 1px solid black;
  }
  
  th, td {
    padding: 3px;
  }