@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

/* VARIABLES */

:root {
  --darker-red: #ed2b2e;
  --regular-red: #f94144;
}

/* CSS RESET */

*,
*::before,
*::after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

html, body {
    height: 100%;
    width: 100%;
}

body {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body > div:not(:first-child) {
  padding-left: 25px;
  padding-top: 15px;
}

button,
input {
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    cursor: pointer;
}

/* TYPOGRAPHY STYLES */

div > h3 {
  margin-top: 15px;
  color: #2a97c6;
  position: relative;
  padding-bottom: 5px;
  width: max-content;
  font-size: 24px;
}

div > h3::after {
  content: "";
  background: #2a97c6;
  position: absolute;
  bottom: 2px;
  left: 0;
  width: 100%;
  height: 2px;
}

.delete-header {
  color: var(--darker-red);
}

.delete-header::after {
  content: "";
  background: var(--darker-red);
  position: absolute;
  bottom: 2px;
  left: 0;
  width: 100%;
  height: 2px;
}

/* BUTTON STYLES */

button,
.btn {
    padding: 1px 5px;
}

a {
    text-decoration: inherit;
}

.btn-anchor {
  text-decoration: none;
  color: inherit;
}

.btn-anchor > .btn,
.btn-primary {
  background-image: linear-gradient(#73b8ed, #3687b3);
  color: white;
  border: 1px solid #3687b3;
  border-radius: 4px;
  text-align: center;
  padding: 4px 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  font-weight: 500;
}

.btn-anchor > .btn:hover,
.btn-primary:hover {
  background-image: linear-gradient(#7cbef0, #4195c2);
  border-color: #4190bb;
}

.btn-anchor > .btn:active,
.btn-primary:hover {
  background-image: linear-gradient(#5da8e1, #2476a3);
  border-color: #2877a2;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}

.new-btn {
  background-image: linear-gradient(#73b8ed, #3687b3);
  color: white;
  border: 1px solid #3687b3;
  border-radius: 4px;
  text-align: center;
  padding: 4px 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  font-weight: 500;
}

.new-btn:hover {
  background-image: linear-gradient(#7cbef0, #4195c2);
  border-color: #4190bb;
}

.new-btn:active {
  background-image: linear-gradient(#5da8e1, #2476a3);
  border-color: #2877a2;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}

.edit-btn,
.delete-btn,
.app-link {
  text-decoration: none;
  color: inherit;
  font-weight: 500;
}

.edit-btn {
  color: #38b000;
}

.delete-btn {
  color: #f94144;
}

.app-link {
  background-image: linear-gradient(#73b8ed, #3687b3);
  color: white;
  border: 1px solid #3687b3;
  border-radius: 4px;
  text-align: center;
  padding: 4px 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  font-weight: 500;
}

.app-link:hover {
  background-image: linear-gradient(#7cbef0, #4195c2);
  border-color: #4190bb;
}

.app-link:active {
  background-image: linear-gradient(#5da8e1, #2476a3);
  border-color: #2877a2;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}

/* INPUT STYLES */

input[type="text"],
input[type="number"],
input[type="email"],
input[type="url"] {
    cursor: text;
}

input:not([type='submit']):valid {
  color: #38b000;
}

input:not([type='submit']):invalid {
  color: var(--regular-red);
}

/* HEADER STYLES */

.header {
  background-color: #6DBDDE;
  color: white;
  padding: 12px 15px;
  display: flex;
  justify-content: space-between;
}

.header > h1 {
  text-transform: uppercase;
  letter-spacing: 1px;
}

.navbar {
  width: 80%;
  align-self: center;
  display: flex;
  justify-content: space-around;
  margin-right: 50px;
}

.navbar > a {
  color: white;
  letter-spacing: 1px;

  opacity: 1;
  transition: opacity .1s ease-in;

  position: relative;
  z-index: 9;
}

.navbar > a::before {
  content: "";
  position: absolute;
  bottom: -30%;
  left: -5%;
  height: 1px;
  width: 0%;
  background-color: rgba(70, 165, 206, 0.8);

  transform: scaleY(0);
  transition: transform .2s, width .2s, height .3s ease-in;
  z-index: -1;
}

.navbar > a:hover::before {
  transform: scaleY(1);
  width: 110%;
  height: 5px;
}

.navbar > a:active {
  opacity: 0;
}

/* TABLE STYLES */

table {
  width: max-content;
}

.table-class {
  border-collapse: collapse;
  margin: 5px 0;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.table-class thead tr {
  background-color: #6DBDDE;
  color: white;
  text-align: left;
}

.table-class th,
.table-class td {
  padding: 12px 15px;
}

.table-class tbody tr {
  border-bottom: 1px solid #dddddd;
}

.table-class tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.table-class tbody tr:last-of-type {
  border-bottom: 5px solid #6DBDDE;
}

.table-class tbody tr:hover {
  z-index: 9;
  transform: scale(1.01);
  background-color: #ffffff;
  color: #0e70a4;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

/* FORM STYLES */

form {
  width: 400px;
  /* margin-top: 35px;
  margin-left: 35px; */
  margin: 5px 0;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
}
  
fieldset {
  display: flex;
  flex-direction: column;
  padding: 15px 25px;
  border: none;
  /* box-shadow: 0 6px 20px rgba(0, 0, 0, 0.35); */
}

.form-head {
  background-color: #6DBDDE;
  color: white;
  text-align: left;
  margin: -15px -25px 0;
  padding: 12px 15px;
  font-weight: bold;
}

.form-head > label > span {
  font-weight: 400;
}

fieldset > h3 {
  margin-top: -10px;
  margin-bottom: 10px;
  padding-bottom: 5px;
  text-align: center;
  font-size: 20px;
  font-weight: 300;
  border-bottom: 1px solid #dddddd;
}

#deleteApplicant > fieldset > .form-head,
#deleteApplication > fieldset > .form-head,
#deleteCompany > fieldset > .form-head,
#deleteAffiliation > fieldset > .form-head {
  background-color: var(--darker-red);
  margin-bottom: 8px;
  /* font-weight: 500;
  padding-bottom: 5px;
  color: #f94144; */
}

input[name="Delete_Applicant"],
input[name="Delete_Application"],
input[name="Delete_Company"],
input[name="Delete_Affiliation"] {
  background-image: linear-gradient(#fe595b, #e12b2e);
  color: white;
  border: 1px solid #cb2023;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
}

input[name="Delete_Applicant"]:hover,
input[name="Delete_Application"]:hover,
input[name="Delete_Company"]:hover,
input[name="Delete_Affiliation"]:hover {
  background-image: linear-gradient(#fa6466, #ec3f42);
  border: 1px solid #db282b;
}

input[name="Delete_Applicant"]:active,
input[name="Delete_Application"]:active,
input[name="Delete_Company"]:active,
input[name="Delete_Affiliation"]:active {
  background-image: linear-gradient(#fb4b4e, #d62326);
  border: 1px solid #be1a1d;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}

fieldset > input,
fieldset > select {
  border: 1px solid #c8c8c8;
  padding: 10px;
}

fieldset > select {
  font-family: inherit;
  font-size: inherit;
}

fieldset > label {
  margin-top: 8px;
  padding-bottom: 2px;
  margin-left: 1px;
  font-weight: 500;
  font-size: 16px;
}

fieldset > label > span {
  font-weight: 400;
}

fieldset > .wrapper {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}