/* CSS RESET */

*,
*::before,
*::after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

html, body {
    height: 100%;
    width: 100%;
}

body {
    box-sizing: border-box;
    padding-left: 25px;
    padding-top: 15px;
}

button,
input {
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    cursor: pointer;
}

button {
    padding: 1px 5px;
}

a {
    text-decoration: inherit;
}

input[type="text"],
input[type="number"],
input[type="email"],
input[type="url"] {
    cursor: text;
}

h3 {
    margin-top: 10px;
}

table {
    width: 750px;
  }
  
  form {
    width: 400px;
    margin-top: 10px;
  }
  
  form > button {
    margin-left: 2px;
    margin-top: 3px;
    margin-bottom: 5px;
  }
  
  fieldset {
    display: flex;
    flex-direction: column;
    padding: 5px;
  }
  
  table, th, td {
    border: 1px solid black;
  }
  
  th, td {
    padding: 3px;
  }

.btn-anchor {
  text-decoration: none;
  color: inherit;
}