@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

/* CSS RESET */

*,
*::before,
*::after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

html, body {
    height: 100%;
    width: 100%;
}

body {
    box-sizing: border-box;
    padding-left: 25px;
    padding-top: 15px;
    font-family: 'Roboto', sans-serif;
}

button,
input {
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    cursor: pointer;
}

/* TYPOGRAPHY STYLES */

h3 {
  margin-top: 10px;
}

/* BUTTON STYLES */

button,
.btn {
    padding: 1px 5px;
}

a {
    text-decoration: inherit;
}

.btn-anchor {
  text-decoration: none;
  color: inherit;
}

/* INPUT STYLES */

input[type="text"],
input[type="number"],
input[type="email"],
input[type="url"] {
    cursor: text;
}

input:not([type='submit']):valid {
  color: #38b000;
}

input:not([type='submit']):invalid {
  color: #f94144;
}

/* TABLE STYLES */

table {
  width: 750px;
  margin-bottom: 5px;
}
  
form {
  width: 400px;
  margin-top: 10px;
}
  
form > button {
  margin-left: 2px;
  margin-top: 3px;
  margin-bottom: 5px;
}
  
fieldset {
  display: flex;
  flex-direction: column;
  padding: 5px;
}
  
/* table, th, td {
  border: 1px solid black;
}
  
th, td {
  padding: 3px;
} */

.table-class {
  border-collapse: collapse;
  margin: 25px 0;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.table-class thead tr {
  background-color: #6DBDDE;
  color: white;
  text-align: left;
}

.table-class th,
.table-class td {
  padding: 12px 15px;
}

.table-class tbody tr {
  border-bottom: 1px solid #dddddd;
}

.table-class tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.table-class tbody tr:last-of-type {
  border-bottom: 5px solid #6DBDDE;
}

.table-class tbody tr:hover {
  z-index: 9;
  transform: scale(1.01);
  background-color: #ffffff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.new-btn {
  background-image: linear-gradient(#73b8ed, #3687b3);
  color: white;
  border: 1px solid #3687b3;
  border-radius: 4px;
  text-align: center;
  padding: 4px 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  font-weight: 500;
}

.new-btn:hover {
  background-image: linear-gradient(#7cbef0, #4195c2);
  border-color: #4190bb;
}

.new-btn:active {
  background-image: linear-gradient(#5da8e1, #2476a3);
  border-color: #2877a2;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}

.edit-btn,
.delete-btn,
.app-link {
  text-decoration: none;
  color: inherit;
  font-weight: 500;
}

.edit-btn {
  color: #38b000;
}

.delete-btn {
  color: #f94144;
}

.app-link {
  background-image: linear-gradient(#73b8ed, #3687b3);
  color: white;
  border: 1px solid #3687b3;
  border-radius: 4px;
  text-align: center;
  padding: 4px 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  font-weight: 500;
}

.app-link:hover {
  background-image: linear-gradient(#7cbef0, #4195c2);
  border-color: #4190bb;
}

.app-link:active {
  background-image: linear-gradient(#5da8e1, #2476a3);
  border-color: #2877a2;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}