@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

/* VARIABLES */

:root {
  --background-color: #eef4ed;
  --navbar-color: #022B3A;
  --header-color: #022B3A;
  --table-color: #18606f;
  --table-row-color: #E1E5F2;

  --link-color: #1f979b;

  --delete-form-header-color: #4e0110;
  --delete-form-color: linear-gradient(to bottom, #c32530, #a12d22);

  --button-border-color: #012A4A;
  --button-color-dark: #013A63;
  --button-color-medium: #014F86;
  --button-color-light: #2C7DA0;
  --button-color-lighter: #61A5C2;

  --update-button-border-color: #10451d;
  --update-button-color-dark: #155d27;
  --update-button-color-medium: #349662;
  --update-button-color-light: #369f67;
  --update-button-color-lighter: #6ede8a;

  --delete-button-border-color: #4e0110;
  --delete-button-color-dark: #942b3b;
  --delete-button-color-medium: #ab2836;
  --delete-button-color-light: #a12d22;
  --delete-button-color-lighter: #ff5a5f;
}

/* CSS RESET */

*,
*::before,
*::after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

html, body {
    height: 100%;
    width: 100%;
    background-color: var(--background-color);
}

body {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body > div:not(:first-child) {
  padding-left: 25px;
  padding-top: 15px;
  padding-right: 25px;
}

button,
input {
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    cursor: pointer;
}

/* TYPOGRAPHY STYLES */

body > .home-wrapper {
  margin: 40px 20px 20px;
  padding: 20px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
}

#moon {
  font-size: 42px;
}

.home-title {
  text-align: center;
  font-size: 48px;
  color: var(--header-color);
  position: relative;
  width: max-content;
}

.home-title::after {
  content: "";
  background: var(--header-color);
  position: absolute;
  bottom: -10px;
  left: 10%;
  width: 80%;
  height: 2px;
}

.home-text-wrapper {
  display: flex;
  margin: 40px 20px;
  align-items: center;
  justify-content: center;
}

.home-text-wrapper > .home-description {
  padding: 25px 50px;
  font-size: 24px;
  text-align: justify;
  width: 100%;
  line-height: 1.4;
}

.list-wrapper {
  margin-bottom: 150px;
  padding: 25px 50px;
  display: flex;
  flex-direction: column;
  width: 80%;
}

.list-wrapper > #list-title {
  align-self: center;
  /* padding-bottom: 120px; */
  font-size: 34px;
  position: relative;
}

.list-wrapper > #list-title::after {
  content: "";
  background: var(--header-color);
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 100%;
  height: 2px;
}

#inline-items {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 5%;
  margin-top: -1%;
}

.list-wrapper > ul {
  font-size: 20px;
  padding-top: 45px;
  list-style: none;
  line-height: 1.6;
}

.list-wrapper > ul > li > strong {
  font-size: 24px;
  display: inline-block;
}

.emphasis {
  font-size: 60px;
}

#constellation1,
#constellation2 {
  display: grid;
  width: 3%;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 12px 20px;
  grid-gap: 2px;
}

#constellation1 {
  margin-right: 8%;
}

#constellation2 {
  margin-left: 2.5%;
}

.star1,
.star2,
.star3 {
  font-size: 18px;
}

.star1 {
  grid-column: 1 / 3;
  opacity: 1;
  animation: sparkle1 1.2s linear infinite;
}

.star2 {
  opacity: 0.6;
  animation: sparkle2 1.2s linear infinite;
}

.star3 {
  opacity: 0.3;
  animation: sparkle3 1.2s linear infinite;
}

div > h3 {
  margin-top: 15px;
  color: var(--header-color);
  position: relative;
  padding-bottom: 5px;
  width: max-content;
  font-size: 24px;
}

div > h3::after {
  content: "";
  background: var(--header-color);
  position: absolute;
  bottom: 2px;
  left: 0;
  width: 100%;
  height: 2px;
}

.delete-header {
  color: var(--delete-form-header-color);
}

.delete-header::after {
  content: "";
  background: var(--delete-form-header-color);
  position: absolute;
  bottom: 2px;
  left: 0;
  width: 100%;
  height: 2px;
}

.link:link {
  text-decoration: none;
  color: var(--link-color);
}

.link:link:hover {
  font-weight: 700;
}

tbody > tr > td > .link:visited {
  color: var(--link-visited-color);
}

@media only screen and (max-width: 1000px) {
  div > h3 {
    font-size: 18px;
  }

  .home-title {
    letter-spacing: 1px;
    line-height: 1.6;
  }

  #moon {
    font-size: 38px;
  }

  .home-text-wrapper > .home-description {
    padding: 25px 50px 25px 150px;
    font-size: 18px;
  }

  .list-wrapper > #list-title {
    font-size: 24px;
  }

  .list-wrapper > ul > li > strong {
    font-size: 18px;
  }
}

@media only screen and (max-width: 800px) {
  div > h3 {
    font-size: 16px;
  }

  #moon {
    font-size: 32px;
  }

  .home-wrapper {
    margin: 40px 20px 20px;
    padding: 20px 50px;
    flex-direction: column;
  }

  .home-title {
    font-size: 38px;
    letter-spacing: normal;
    line-height: normal;
  }

  .emphasis {
    font-size: 52px;
  }

  .home-title::after {
    bottom: -10px;
    left: 10%;
    width: 80%;
    height: 2px;
  }

  .home-text-wrapper > .home-description {
    padding: 25px 5px 25px 5px;
    font-size: 16px;
  }
}

/* HEADER STYLES */

.header {
  background-color: var(--navbar-color);
  color: white;
  padding: 12px 15px 12px 25px;
  display: flex;
  justify-content: space-between;
}

.header > h1 {
  text-transform: uppercase;
  letter-spacing: 1px;
}

#logo {
  text-transform: none;
  font-size: 38px;
  letter-spacing: 2.5px;
  margin: -8px 0;
}

.navbar {
  width: 60%;
  align-self: center;
  display: flex;
  justify-content: space-around;
  margin-right: 25px;
}

.navbar > a {
  color: white;
  letter-spacing: 1px;

  opacity: 1;
  transition: opacity .1s ease-in;

  position: relative;
  z-index: 9;
  transition: opacity 200ms ease-out;
}

.navbar > a::before {
  content: "";
  position: absolute;
  bottom: -30%;
  left: 0;
  height: 1px;
  width: 0%;
  background-color: rgba(36, 118, 163, 0.8);

  transform: scaleY(0);
  transition: transform .2s, width .2s, height .3s ease-in;
  z-index: -1;
}

.navbar > a:hover::before {
  transform: scaleY(1);
  width: 100%;
  height: 5px;
}

.navbar > a:active {
  opacity: 0;
}

@media only screen and (max-width: 1300px) {
  .navbar {
    width: 68%;
    font-size: 16px;
    margin-right: 5px;
  }

  .header >  h1 {
    font-size: 18px;
  }
}

@media only screen and (max-width: 1000px) {
  .navbar {
    width: 72.5%;
    font-size: 12px;
    margin-right: 5px;
  }

  .header {
    padding: 8px 11px 8px 15px;
  }

  .header > h1 {
    font-size: 16px;
  }

  #logo {
    font-size: 32px;
  }
}

@media only screen and (max-width: 800px) {
  .navbar {
    width: 80%;
    margin-right: 1px;
  }

  .header {
    padding: 6px 7px 6px 10px;
  }

  #logo {
    font-size: 24px;
  }
}

/* BUTTON STYLES */

button,
.btn {
    padding: 1px 5px;
}

a {
    text-decoration: inherit;
}

.btn-anchor {
  text-decoration: none;
  color: inherit;
}

.btn-anchor > .btn,
.btn-primary {
  background-image: linear-gradient(var(--button-color-light), var(--button-color-medium));
  color: white;
  border: 1px solid var(--button-border-color);
  border-radius: 4px;
  text-align: center;
  padding: 4px 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  font-weight: 500;
}

.btn-anchor > .btn:hover,
.btn-primary:hover {
  background-image: linear-gradient(var(--button-color-lighter), var(--button-color-light));
  border-color: var(--button-color-medium);
}

.btn-anchor > .btn:active,
.btn-primary:active {
  background-image: linear-gradient(var(--button-color-medium), var(--button-color-dark));
  border-color: var(--button-border-color);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}

.new-btn {
  background-image: linear-gradient(var(--update-button-color-light), var(--update-button-color-medium));
  color: white;
  border: 1px solid var(--update-button-border-color);
  border-radius: 4px;
  text-align: center;
  padding: 4px 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  font-weight: 500;
}

.new-btn:hover {
  background-image: linear-gradient(var(--update-button-color-lighter), var(--update-button-color-light));
  border-color: var(--update-button-color-medium);
}

.new-btn:active {
  background-image: linear-gradient(var(--update-button-color-medium), var(--update-button-color-dark));
  border-color: var(--update-button-border-color);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}

.edit-btn,
.delete-btn,
.app-link {
  text-decoration: none;
  color: inherit;
  font-weight: 500;
}

.edit-btn {
  color: var(--update-button-color-light);
}

.delete-btn {
  color: var(--delete-button-color-light);
}

.edit-btn:hover,
.delete-btn:hover {
  font-weight: 700;
}

input[name="Delete_Applicant"],
input[name="Delete_Application"],
input[name="Delete_Company"],
input[name="Delete_Affiliation"],
input[name="Delete_Position"],
input[name="Delete_Recruiter"] {
  background-image: linear-gradient(var(--delete-button-color-light), var(--delete-button-color-medium));
  color: white;
  border: 1px solid var(--delete-button-border-color);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
}

input[name="Delete_Applicant"]:hover,
input[name="Delete_Application"]:hover,
input[name="Delete_Company"]:hover,
input[name="Delete_Affiliation"]:hover,
input[name="Delete_Position"]:hover,
input[name="Delete_Recruiter"]:hover {
  background-image: linear-gradient(var(--delete-button-color-lighter), var(--delete-button-color-light));
  border: 1px solid var(--delete-button-color-medium);
}

input[name="Delete_Applicant"]:active,
input[name="Delete_Application"]:active,
input[name="Delete_Company"]:active,
input[name="Delete_Affiliation"]:active,
input[name="Delete_Position"]:active,
input[name="Delete_Recruiter"]:active {
  background-image: linear-gradient(var(--delete-button-color-medium), var(--delete-button-color-dark));
  border: 1px solid var(--delete-button-border-color);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}

.app-link {
  background-image: linear-gradient(var(--button-color-light), var(--button-color-medium));
  color: white;
  border: 1px solid var(--button-border-color);
  border-radius: 4px;
  text-align: center;
  padding: 4px 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  font-weight: 500;
}

.app-link:hover {
  background-image: linear-gradient(var(--button-color-lighter), var(--button-color-light));
  border-color: var(--button-color-medium);
}

.app-link:active {
  background-image: linear-gradient(var(--button-color-medium), var(--button-color-dark));
  border-color: var(--button-border-color);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}

@media only screen and (max-width: 1000px) {
  .btn-anchor > .btn,
  .btn-primary {
    font-size: 14px;
  }
}

@media only screen and (max-width: 800px) {
  .btn-anchor > .btn,
  .btn-primary {
    font-size: 10px;
  }
}

/* INPUT STYLES */

input[type="text"],
input[type="number"],
input[type="email"],
input[type="url"] {
    cursor: text;
}

input:not([type='submit']):valid {
  color: var(--update-button-color-light);
}

input:not([type='submit']):invalid {
  color: var(--delete-button-color-light);
}

/* TABLE STYLES */

table {
  max-width: max-content;
  background-color: #fff;
}

.table-class {
  border-collapse: collapse;
  margin: 5px 0;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.table-class thead tr {
  background-color: var(--table-color);
  color: white;
  text-align: left;
}

.table-class th,
.table-class td {
  padding: 12px 15px;
}

.table-class tbody tr {
  border-bottom: 1px solid #dddddd;
}

.table-class tbody tr:nth-of-type(even) {
  background-color: var(--table-row-color);
}

.table-class tbody tr:last-of-type {
  border-bottom: 5px solid var(--table-color);
}

.table-class tbody tr:hover {
  z-index: 9;
  transform: scale(1.01);
  background-color: #ffffff;
  color: var(--table-color);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

@media only screen and (max-width: 1000px) {
  table {
    font-size: 14px;
  }

  .table-class th,
  .table-class td {
    padding: 6px 8px;
    overflow-wrap: break-word;
    font-size: inherit;
  }
}

@media only screen and (max-width: 800px) {
  table {
    font-size: 10px;
  }

  .table-class th,
  .table-class td {
    padding: 6px 8px;
    overflow-wrap: break-word;
    font-size: inherit;
  }
}

/* FORM STYLES */

form {
  width: 400px;
  background-color: #fff;
  margin: 5px 0;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
}
  
fieldset {
  display: flex;
  flex-direction: column;
  padding: 15px 25px;
  border: none;
}

.form-head {
  background-color: var(--table-color);
  color: white;
  text-align: left;
  margin: -15px -25px 0;
  padding: 12px 15px;
  font-weight: bold;
}

.form-head > label > span {
  font-weight: 400;
}

fieldset > h3 {
  margin-top: -10px;
  margin-bottom: 10px;
  padding-bottom: 5px;
  text-align: center;
  font-size: 20px;
  font-weight: 300;
  border-bottom: 1px solid #dddddd;
}

#deleteApplicant > fieldset > .form-head,
#deleteApplication > fieldset > .form-head,
#deleteCompany > fieldset > .form-head,
#deleteAffiliation > fieldset > .form-head,
#deletePosition > fieldset > .form-head,
#deleteRecruiter > fieldset > .form-head {
  background: var(--delete-form-color);
  margin-bottom: 8px;
  letter-spacing: 0.8px;
  font-weight: 500;
}

fieldset > input,
fieldset > select {
  border: 1px solid #c8c8c8;
  padding: 10px;
}

fieldset > select {
  font-family: inherit;
  font-size: inherit;
}

fieldset > label {
  margin-top: 8px;
  padding-bottom: 2px;
  margin-left: 1px;
  font-weight: 500;
  font-size: 16px;
}

fieldset > label > span {
  font-weight: 400;
}

fieldset > .wrapper {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 1000px) {
  form {
    font-size: 14px;
  }

  fieldset {
    font-size: inherit;
  }

  fieldset > label {
    font-size: 14px;
  }

  fieldset > h3 {
    font-size: 18px;
  }
}

@media only screen and (max-width: 800px) {
  form {
    font-size: 12px;
  }

  fieldset > label {
    font-size: 12px;
  }

  fieldset > h3 {
    font-size: 14px;
  }
}

/* ANIMATIONS */

@keyframes sparkle1 {
  0% {
    opacity: 1;
  }
  20% {
    opacity: 0.6;
  }
  40% {
    opacity: 0.3;
  }
  60% {
    opacity: 0;
  }
  80% {
    opacity: 0.3;
  }
  100% {
    opacity: 0.6;
  }
}

@keyframes sparkle2 {
  0% {
    opacity: 0.6;
  }
  20% {
    opacity: 0.3;
  }
  40% {
    opacity: 0;
  }
  60% {
    opacity: 0.3;
  }
  80% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

@keyframes sparkle3 {
  0% {
    opacity: 0.3;
  }
  20% {
    opacity: 0;
  }
  40% {
    opacity: 0.3;
  }
  60% {
    opacity: 0.6;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0.6;
  }
}