<html>
<!-- Based on the Flask Starter App by Professor Michael Curry -->
<!-- Adapted from the applicants_crud.html UI design -->
<head>
    <title>Applicants</title>
    <link rel="stylesheet" href="style.css" type="text/css">
    <script language="JavaScript">
        function showForm(form) {
            if (form == 'insert') {
                document.getElementById('browse').style.display = 'none';
                document.getElementById('insert').style.display = 'block';
                document.getElementById('edit').style.display = 'none';
                document.getElementById('delete').style.display = 'none';
            } else if (form == 'update') {
                document.getElementById('browse').style.display = 'none';
                document.getElementById('insert').style.display = 'none';
                document.getElementById('edit').style.display = 'block';
                document.getElementById('delete').style.display = 'none';
            } else if (form == 'delete') {
                document.getElementById('browse').style.display = 'none';
                document.getElementById('insert').style.display = 'none';
                document.getElementById('edit').style.display = 'none';
                document.getElementById('delete').style.display = 'block';
            } else { // display browse by default
                document.getElementById('browse').style.display = 'block';
                document.getElementById('insert').style.display = 'none';
                document.getElementById('edit').style.display = 'none';
                document.getElementById('delete').style.display = 'none';
            }
        }

        function newApplicant() {
            showForm('insert');
        }

        function updateApplicant(id) {
            showForm('edit');
        }

        function deleteApplicant(id) {
            showForm('delete');
        }

        function browseApplicants() {
            showForm('browse');
        }
    </script>
</head>

<body>
    <h1>Applicants</h1>
    <!-- BROWSE -->
    <div id='browse'>
    
        <p><a href="/">Home |
        <span>Applicants</span> |
        <a href="applications">Applications</a> |
        <a href="companies">Companies</a> |
        <a href="positionscompanyrecruiters">Positions & Company Recruiters</a></p>

        <h3>Browse Applicants</h3>
        <table>
        <!-- Access data passed from app.py -->
            <thead>
                <tr>
                    <th><a href="#" onClick="newApplicant()">New</a></th>
                    <th></th>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th></th>
                </tr>
            </thead>
        
        {% if data %}
            <tbody>
            <!-- Iterate through every item in data -->
            {% for item in data %}
                <tr>
                    <!-- Edit and Delete buttons for each item -->
                    <td><a href="edit_applicant/{{item.applicantID}}" class="edit-btn">Edit</a></td>
                    <td><a href="delete_applicant/{{item.applicantID}}" class="delete-btn">Delete</a></td>
                {% for key in item.keys() %}

                    <!-- Create a <td> element with the value of that key in it -->
                    <td> {{item[key]}} </td> 
                {% endfor %}
                    <td><a href="applications">Applications</a></td>
                </tr>
            {% endfor %}
            </tbody>
        {% endif %}
        </table>
        <p>&nbsp;</p>
    </div>
    <!-- END BROWSE -->


    <!-- INSERT -->
    <div id='insert'>
        <!-- form to INSERT new Applicant into Applicants entity -->
        <form id="insertApplicant" action="/applicants" method="post">
            <legend><strong>Add Applicant</strong></legend>
            <fieldset>
                <!-- placeholder shows ghost text, required forces an input, pattern forces input adherance -->
                <label for="name">Name: </label>
                <input type="text" class="form-control" id="name" name="name" pattern="[A-Za-z]{1,}" placeholder="" required>

                <label for="email">Email: </label>
                <input type="email" class="form-control" id="email" name="email" placeholder="" required>
            </fieldset>

            <!-- Create 'Add Applicant' and 'Cancel' buttons -->
            <input type="submit" value="Add Applicant" name="Add_Applicant" class="btn btn-primary" style="margin:.5rem;">
            <input class="btn" type="button" value="Cancel">
        </form>
    </div>
    <!-- END INSERT -->

    <!-- EDIT -->
    <div id='edit'>
        <!-- form to UPDATE an Applicant -->
        <form id="editApplicant" action="/edit_applicant/{{data[0].applicantID}}" method="post">
            <legend><strong>Update Applicant</strong></legend>
            <fieldset>
                <label>ID: <span>{{data[0].applicantID}}</span></label>
                <label for="name">Name</label>
                <input 
                    type="text" 
                    class="form-control" 
                    id="name" 
                    name="name" 
                    value="{{data[0].name}}"
                    pattern="[A-Za-z]{1,}"
                    required
                />
                <label for="email">Email</label> 
                <input 
                    type="email" 
                    class="form-control" 
                    id="email" 
                    name="email" 
                    value="{{data[0].email}}"
                    required
                />
            </fieldset>
            <input 
                type="submit" 
                value="Update Applicant"
                name="Update_Applicant"
                class="btn btn-primary" 
                style="margin:.5rem;"
            />
            <a href='/applicants'>
                <input class="btn" type="button" value="Cancel">
            </a>
        </form>
    </div>
    <!-- END EDIT -->

</body>
</html>