<html>
<!-- 
    Citation for the following file:
    11/07/2022
    Based on:
    people.j2 file from the Flask Starter App repo by Professor Michael Curry
    https://github.com/osu-cs340-ecampus/flask-starter-app/blob/master/bsg_people_app/templates/people.j2
-->
<!--
    Citation for regex in pattern attribute of INSERT form's text input for "name":
    11/09/2022
    Copied from:
    https://stackoverflow.com/questions/26821463/regex-exact-match-first-and-last-name-with-one-space-between
-->
<!--
    Citation for regex in pattern attribute of INSERT form's text input for "email":
    11/28/2022
    Copied from:
    https://stackoverflow.com/questions/5601647/html5-email-input-pattern-attribute
-->
<!-- Adapted from the applicants_crud.html UI design -->
<head>
    <title>Applicants</title>
    <link rel="stylesheet" href="../static/style.css" type="text/css">
    <script language="JavaScript" defer>
        function showForm(form) {
            if (form == 'insert') {
                document.getElementById('browse').style.display = 'none';
                document.getElementById('insert').style.display = 'block';
            } else { // display browse by default
                document.getElementById('browse').style.display = 'block';
                document.getElementById('insert').style.display = 'none';
            }
        }

        function newApplicant() {
            showForm('insert');
        }

        function browseApplicants() {
            showForm('browse');
        }

        window.addEventListener('load', () => {
            showForm('browse');
        });
    </script>
</head>

<body>
    <h1>Applicants</h1>

    <a href="/">Home</a> |
    <a href="/applicants">Applicants</a> |
    <a href="/applications">Applications</a> |
    <a href="/companies">Companies</a> |
    <a href="/positionscompanyrecruiters">Positions & Company Recruiters</a></p>

    <!-- BROWSE -->
    <div id='browse'>
        <h3>Browse Applicants</h3>
        <table class="table-class">
        <!-- Access data passed from app.py -->
            <thead>
                <tr>
                    <th colspan="2">
                        <button class="new-btn" onClick="newApplicant()">New Applicant</button>
                    </th>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Applications</th>
                </tr>
            </thead>
        
        {% if data %}
            <tbody>
            <!-- Iterate through every item in data -->
            {% for item in data %}
                <tr>
                    <!-- Edit and Delete buttons for each item -->
                    <td>
                        <a href="/edit-applicant/{{item.applicantID}}" class="edit-btn">
                            Edit
                        </a>
                    </td>
                    <td>
                        <a href="/delete-applicant/{{item.applicantID}}" class="delete-btn">
                            Delete
                        </a>
                    </td>
                {% for key in item.keys() %}

                    <!-- Create a <td> element with the value of that key in it -->
                    <td> {{item[key]}} </td> 
                {% endfor %}
                    <td><a class="app-link" href="/search-applications/{{item.applicantID}}">Search</a></td>
                </tr>
            {% endfor %}
            </tbody>
        {% endif %}
        </table>
        <p>&nbsp;</p>
    </div>
    <!-- END BROWSE -->


    <!-- INSERT -->
    <div id='insert'>
        <!-- form to INSERT new Applicant into Applicants entity -->
        <form id="insertApplicant" action="/applicants" method="post">
            
            <fieldset>
            <h3><strong>Add Applicant</strong></h3>
                <!-- placeholder shows ghost text, required forces an input, pattern forces input adherance -->
                <label for="name">Name: </label>
                <input 
                    type="text" 
                    class="form-control" 
                    id="name" name="name" 
                    pattern="^[A-Z][a-z]+\s[A-Z][a-z]+$" 
                    placeholder="John Smith" 
                    required
                />

                <label for="email">Email: </label>
                <input 
                    type="text"
                    class="form-control" 
                    id="email" name="email"
                    pattern="[^@\s]+@[^@\s]+\.[^@\s]+" 
                    placeholder="smithj@gmail.com" 
                    required
                />

                <div class="wrapper">
                    <!-- Create 'Add Applicant' and 'Cancel' buttons -->
                    <input type="submit" value="Add Applicant" name="Add_Applicant" class="btn btn-primary" style="margin:.5rem;">
                    <a class="btn-anchor" href='/applicants'>
                        <input class="btn" type="button" value="Cancel">
                    </a>
                </div>
            </fieldset>
        </form>
    </div>
    <!-- END INSERT -->

</body>
</html>