<html>
<!-- 
    Citation for the following file:
    11/09/2022
    Based on:
    edit_people.j2 from the Flask Starter App repo by Professor Michael Curry
    https://github.com/osu-cs340-ecampus/flask-starter-app/blob/master/bsg_people_app/templates/edit_people.j2
-->
<head>
	<title>Delete Applicant</title>
    <link href="../static/style.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <div class="header">
        <h1>Applicants</h1>
    </div>

    <a href="/">Home</a> |
    <a href="/applicants">Applicants</a> |
    <a href="/applications">Applications</a> |
    <a href="/companies">Companies</a> |
    <a href="/positionscompanyrecruiters">Positions & Company Recruiters</a>

    <!-- DELETE -->
    <div id='delete'>
        <h3 class="delete-header">Delete Applicant</h3>
    <!-- form for performing DELETE on an Applicant -->
        <form id="deleteApplicant" action="/delete-applicant/{{data[0].applicantID}}" method="post">
            <fieldset>
                <div class="form-head">
                    <p>Are you sure you want to delete the applicant?</p>
                </div>
                <div>
                <label><strong>ID: </strong><span>{{data[0].applicantID}}</span></label>
                <label><strong>Name: </strong><span>{{data[0].name}}</span></label>
                </div>
                <div class="wrapper">
                    <input 
                        type="submit" 
                        value="Delete Applicant" 
                        name="Delete_Applicant" 
                        class="btn btn-primary" 
                        style="margin:.5rem;"
                    />
                    <a class="btn-anchor" href='/applicants'>
                        <input class="btn" type="button" value="Cancel">
                    </a>
                </div>
            </fieldset>
        </form>
    </div>
    <!-- END DELETE -->

</body>
</html>