<html>
<!-- 
    Citation for the following file:
    11/17/2022
    Based on:
    edit_people.j2 from the Flask Starter App repo by Professor Michael Curry
    https://github.com/osu-cs340-ecampus/flask-starter-app/blob/master/bsg_people_app/templates/edit_people.j2
-->
<head>
	<title>Delete Application</title>
    <link href="../static/style.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <div class="header">
        <h1>Applications</h1>
        <div class="navbar">
            <a href="/">Home</a> |
            <a href="/applicants">Applicants</a> |
            <a href="/applications">Applications</a> |
            <a href="/companies">Companies</a> |
            <a href="/positionscompanyrecruiters">Positions & Company Recruiters</a>
        </div>
    </div>

    <!-- DELETE -->
    <div id='delete'>
        <h3 class="delete-header">Delete Application</h3>
        <!-- form for performing DELETE on an Application -->
        <form id="deleteApplication" action="/delete-application/{{data[0].applicationID}}" method="post">
            <fieldset>
                <div class="form-head">
                    <p>Are you sure you want to delete the application?</p>
                </div>
                <div>
                <label><strong>ID: </strong><span>{{data[0].applicationID}}</span></label>
                <label><strong>Name: </strong><span>{{data[0].applicantName}}</span></label>
                <label><strong>Position: </strong><span>{{data[0].positionTitle}}</span></label>
                <label><strong>Company: </strong><span>{{data[0].companyName}}</span></label>
                </div>
                <div class="wrapper">
                    <input 
                        type="submit" 
                        value="Delete Application" 
                        name="Delete_Application" 
                        class="btn btn-primary" 
                        style="margin:.5rem;"
                    />
                    <a class="btn-anchor" href='/applications'>
                        <input class="btn" type="button" value="Cancel">
                    </a>
                </div>
            </fieldset>
        </form>
    </div>
    <!-- END DELETE -->

</body>
</html>