<html>
<!-- 
    Citation for the following file:
    11/17/2022
    Based on:
    edit_people.j2 from the Flask Starter App repo by Professor Michael Curry
    https://github.com/osu-cs340-ecampus/flask-starter-app/blob/master/bsg_people_app/templates/edit_people.j2
-->
<head>
	<title>Delete Application</title>
    <link href="../static/style.css" rel="stylesheet" type="text/css" />
</head>

<body>

    <!-- DELETE -->
    <div id='delete'>
    <!-- form for performing DELETE on an Application -->
        <form id="deleteApplication" action="/delete-application/{{data[0].applicationID}}" method="post">
            <legend><strong>Delete Application</strong></legend>
            <fieldset>
                <p>Are you sure you want to delete the application?</p>
                <div>
                <label><strong>ID: </strong><span>{{data[0].applicationID}}</span></label>
                <label><strong>Name: </strong><span>{{data[0].applicantName}}</span></label>
                <label><strong>Position: </strong><span>{{data[0].positionTitle}}</span></label>
                <label><strong>Company: </strong><span>{{data[0].companyName}}</span></label>
                </div>
            </fieldset>
            <input 
                type="submit" 
                value="Delete Application" 
                name="Delete_Application" 
                class="btn btn-primary" 
                style="margin:.5rem;"
            />
            <a href='/applications'>
                <input class="btn" type="button" value="Cancel">
            </a>
        </form>
    </div>
    <!-- END DELETE -->

</body>
</html>