<html>
<!-- 
    Citation for the following file:
    11/16/2022
    Based on:
    edit_people.j2 file from the Flask Starter App repo by Professor Michael Curry
    https://github.com/osu-cs340-ecampus/flask-starter-app/blob/master/bsg_people_app/templates/edit_people.j2
-->
<head>
	<title>Edit Company</title>
    <link href="../static/style.css" rel="stylesheet" type="text/css" />
</head>

<body>

</body>
</html>