<html>
<!-- 
    Citation for the following file:
    11/09/2022
    Based on:
    edit_people.j2 file from the Flask Starter App repo by Professor Michael Curry
    https://github.com/osu-cs340-ecampus/flask-starter-app/blob/master/bsg_people_app/templates/edit_people.j2
-->
<head>
	<title>Edit Applicant</title>
    <link href="style.css" rel="stylesheet" type="text/css" />
</head>

<body>

    <!-- EDIT --> 
    <div id='edit'>
        <!-- form to UPDATE an Applicant -->
        <form id="editApplicant" action="/edit-applicant/{{data[0].applicantID}}" method="post">
            <legend><strong>Update Applicant</strong></legend>
            <fieldset>
                <label>ID: <span>{{data[0].applicantID}}</span></label>
                <label for="name">Name</label>
                <input 
                    type="text" 
                    class="form-control" 
                    id="name" 
                    name="name" 
                    value="{{data[0].name}}"
                    pattern="^[A-Z][a-z]+\s[A-Z][a-z]+$"
                    required
                />
                <label for="email">Email</label> 
                <input 
                    type="email" 
                    class="form-control" 
                    id="email" 
                    name="email" 
                    value="{{data[0].email}}"
                    required
                />
            </fieldset>
            <input 
                type="submit" 
                value="Update Applicant"
                name="Update_Applicant"
                class="btn btn-primary" 
                style="margin:.5rem;"
            />
            <a href='/applicants'>
                <input class="btn" type="button" value="Cancel">
            </a>
        </form>
    </div>
    <!-- END EDIT -->

</body>
</html>