<!doctype html>
<html>
<head>
    <title>DreamOffer</title>
    <meta name="Job Application Data Storage" content="Landing page">
</head>

<body>

    <h1>DreamOffer</h1>

    <span>Home</span> |
    <a href="/applicants">Applicants</a> |
    <a href="applications_crud.html">Applications</a> |
    <a href="companies_crud.html">Companies</a> |
    <a href="positionscompanyrecruiters_crud.html">Positions & Company Recruiters</a>

    <h2>Every offer starts as a dream.</h2>

    <p>When applying for internships/jobs, Computer Science students may find 
        themselves sending out hundreds of applications. DreamOffer, a 
        Job Application Tracking database driven web application, helps 
        applicants keep track of where they have applied already and when their 
        applications were sent in an organized and simple to use system. 
        DreamOffer stores data for hundreds of applicants from various backgrounds. 
        It also stores data for thousands of different applications for hundreds 
        of companies, and there is still room for growth in these numbers. When 
        Applicants record new Applications with our database, they record which 
        Positions at which Companies they applied for, and who the CompanyRecruiters
        are for those Positions.
    </p>

    <h3>Pages/Entities</h3>
    <p>Applicants, Applications, and Companies entities have full CRUD functionality - SELECT, INSERT, UPDATE, DELETE.</p>
    <p>Positions and CompanyRecruiters entities have partial CRUD functionality - SELECT, INSERT, UPDATE.</p>
    <p>PositionsCompanyRecruiters intersection table has partial CRUD functionality - SELECT, INSERT, DELETE.</p>
    <ul>
        <li><strong>Applicants</strong> - records the personal details of each Applicant.</li>
        <li><strong>Applications</strong> - records the details of every Application Applicants use to apply to specific Positions.</li>
        <li><strong>Companies</strong> - records the details of each Company Applicants apply to.</li>
        <li><strong>Positions & Company Recruiters</strong> - records the details of Positions/job postings Applicants apply to. Also records the personal details of each 
            Company Recruiter and what Positions they recruit for.</li>
    </ul>
</body>
</html>