<!doctype html>
<html>
<head>
    <title>DreamOffer</title>
    <meta name="Job Application Data Storage" content="Landing page">
    <link rel="stylesheet" href="../static/style.css" type="text/css">
</head>

<body>
    <div class="header">
        <h1 id="logo"><span id="moon">&#9789;</span>reamOffer</h1>
        <div class="navbar">
            <a href="/">Home</a> |
            <a href="/applicants">Applicants</a> |
            <a href="/applications">Applications</a> |
            <a href="/companies">Companies</a> |
            <a href="/positionscompanyrecruiters">Positions & Company Recruiters</a>
        </div>
    </div>

    <div class="home-wrapper">
        <h2 class="home-title">Every offer starts as a 
            <span id="inline-items">
                <div id="constellation1">
                    <span class="star1">
                    &#10022;
                </span>
                <span class="star2">  
                    &#10022;
                </span>
                    <span class="star3">  
                    &#10022;
                </span>
                </div>
                <span class="emphasis">
                    dream
                </span>
                <div id="constellation2">
                    <span class="star1">
                    &#10022;
                </span>
                <span class="star2">  
                    &#10022;
                </span>
                    <span class="star3">  
                    &#10022;
                </span>
                </div>
            </span>
        </h2>
        <div class="home-text-wrapper">
            <p class="home-description">When applying for internships/jobs, Computer Science students may find 
                themselves sending out hundreds of applications. DreamOffer, a 
                Job Application Tracking database driven web application, helps 
                applicants keep track of where they have applied already and when their 
                applications were sent in an organized and simple to use system. 
                DreamOffer stores data for hundreds of applicants from various backgrounds. 
                It also stores data for thousands of different applications for hundreds 
                of companies, and there is still room for growth in these numbers. When 
                Applicants record new Applications with our database, they record which 
                Positions at which Companies they applied for, and who the CompanyRecruiters
                are for those Positions.
            </p>
            <div class="list-wrapper">
                <h3 id="list-title">Pages/Entities</h3>
                <ul>
                    <li><strong>Applicants</strong> - records the personal details of each Applicant.</li>
                    <li><strong>Applications</strong> - records the details of every Application Applicants use to apply to specific Positions.</li>
                    <li><strong>Companies</strong> - records the details of each Company Applicants apply to.</li>
                    <li><strong>Positions & Company Recruiters</strong> - records the details of Positions/job postings Applicants apply to. Also records the personal details of each 
                        Company Recruiter and what Positions they recruit for.</li>
                </ul>
            </div>
        </div>
    </div>
</body>
</html>