<html>
<!-- 
    Citation for the following file:
    11/22/2022
    Based on:
    people.j2 file from the Flask Starter App repo by Professor Michael Curry
    https://github.com/osu-cs340-ecampus/flask-starter-app/blob/master/bsg_people_app/templates/people.j2
-->
<!-- Adapted from the positionscompanyrecruiters_crud.html UI design -->
<head>
    <title>Positions and Recruiters</title>
    <link rel="stylesheet" href="../static/style.css" type="text/css">
    <script language="JavaScript" defer>
    <script>
</head>

<body>
    <h1>Positions & Company Recruiters</h1>

    <a href="/">Home</a> |
    <a href="/applicants">Applicants</a> |
    <a href="/applications">Applications</a> |
    <a href="/companies">Companies</a> |
    <a href="/positionscompanyrecruiters">Positions & Company Recruiters</a>

    <!-- Select (Show) Positions-->
    <div id='browse-pos'>
        <h3>Browse Positions</h3>
        <table>
        <!-- Access data passed from app.py -->
            <thead>
                <tr>
                    <th><a href="#" onClick="newApplication()">New</a></th>
                    <th>Company</th>
                    <th>Title</th>
                    <th>Location</th>
                    <th>Salary</th>
                    <th>Link</th>
                    <th>Position ID</th>
                </tr>
            </thead>

        {% if position_data %}
            <tbody>
            <!-- Iterate through every item in data -->
            {% for item in position_data %}
                <tr>
                    <!-- Edit button for each item -->
                    <td>
                        <a href="/edit-position/{{item.positionID}}" class="edit-btn">
                            Edit
                        </a>
                    </td>
                {% for key in item.keys() %}

                    <!-- Create a <td> element with the value of that key in it -->
                    <td> {{item[key]}} </td> 
                {% endfor %}
                </tr>
            {% endfor %}
            </tbody>
        {% endif %}
        </table>
        <p>&nbsp;</p>
    </div>

    <!-- Select (Show) Positions and Recruiters-->
    <div id='browse-aff'>
        <h3>Browse Position and Recruiter Affiliations</h3>
        <table>
        <!-- Access data passed from app.py -->
            <thead>
                <tr>
                    <th><a href="#" onClick="newApplicant()">New</a></th>
                    <th></th>
                    <th>Company</th>
                    <th>Title</th>
                    <th>Link</th>
                    <th>Recruiter Name</th>
                    <th>Recruiter ID</th>
                    <th>Position ID</th>
                </tr>
            </thead>
        
        {% if affiliation_data %}
            <tbody>
            <!-- Iterate through every item in data -->
            {% for item in affiliation_data %}
                <tr>
                    <!-- Edit and Delete buttons for each item -->
                    <td>
                        <a href="/edit-affiliation/{{item.positionsCompanyRecruitersID}}" class="edit-btn">
                            Edit
                        </a>
                    </td>
                    <td>
                        <a href="/delete-affiliation/{{item.positionsCompanyRecruitersID}}" class="delete-btn">
                            Delete
                        </a>
                    </td>
                {% for key in item.keys() %}

                    <!-- Create a <td> element with the value of that key in it -->
                    <td> {{item[key]}} </td> 
                {% endfor %}
                </tr>
            {% endfor %}
            </tbody>
        {% endif %}
        </table>
        <p>&nbsp;</p>
    </div>

    <!-- Select (Show) Recruiters-->
    <div id='browse-rec'>
        <h3>Browse Recruiters</h3>
        <table>
            <!-- Access data passed from app.py -->
            <thead>
                <tr>
                    <th><a href="#" onClick="newRecruiter()">New</a></th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>LinkedIn</th>
                    <th>Last Contacted</th>
                    <th>Details</th>
                    <th>Recruiter ID</th>
                </tr>
            </thead>
        
        {% if recruiter_data %}
            <tbody>
            <!-- Iterate through every item in data -->
            {% for item in recruiter_data %}
                <tr>
                    <!-- Edit button for each item -->
                    <td>
                        <a href="/edit-recruiter/{{item.recruiterID}}" class="edit-btn">
                            Edit
                        </a>
                    </td>
                {% for key in item.keys() %}

                    <!-- Create a <td> element with the value of that key in it -->
                    <td> {{item[key]}} </td> 
                {% endfor %}
                </tr>
            {% endfor %}
            </tbody>
        {% endif %}
        </table>
        <p>&nbsp;</p>
    </div>
</body>
</html>