<html>
<!-- 
    Citation for the following file:
    11/22/2022
    Based on:
    people.j2 file from the Flask Starter App repo by Professor Michael Curry
    https://github.com/osu-cs340-ecampus/flask-starter-app/blob/master/bsg_people_app/templates/people.j2
-->
<!--
    Citation for regex in pattern attribute of INSERT form's text input for "name":
    11/23/2022
    Copied from:
    https://stackoverflow.com/questions/26821463/regex-exact-match-first-and-last-name-with-one-space-between
-->
<!--
    Citation for regex in pattern attribute of INSERT Position and INSERT Recruiter form's url input for "link" and "linkedin":
    11/28/2022
    Copied from:
    https://stackoverflow.com/questions/3809401/what-is-a-good-regular-expression-to-match-a-url
-->
<!-- Adapted from the positionscompanyrecruiters_crud.html UI design -->
<head>
    <title>Positions and Recruiters</title>
    <link rel="stylesheet" href="../static/style.css" type="text/css">
    <script language="JavaScript" defer>
        function showForm(form) {
            if (form == 'insert-pos') {
                document.getElementById('browse').style.display = 'none';
                document.getElementById('insert-pos').style.display = 'block';
                document.getElementById('insert-aff').style.display = 'none';
                document.getElementById('insert-rec').style.display = 'none';
                document.getElementById('search-company').style.display = 'none';
            } else if (form == 'insert-aff') {
                document.getElementById('browse').style.display = 'none';
                document.getElementById('insert-pos').style.display = 'none';
                document.getElementById('insert-aff').style.display = 'block';
                document.getElementById('insert-rec').style.display = 'none';
                document.getElementById('search-company').style.display = 'none';
            } else if (form == 'insert-rec') {
                document.getElementById('browse').style.display = 'none';
                document.getElementById('insert-pos').style.display = 'none';
                document.getElementById('insert-aff').style.display = 'none';
                document.getElementById('insert-rec').style.display = 'block';
                document.getElementById('search-company').style.display = 'none';
            } else if (form == 'search-company') {
                document.getElementById('browse').style.display = 'none';
                document.getElementById('insert-pos').style.display = 'none';
                document.getElementById('insert-aff').style.display = 'none';
                document.getElementById('insert-rec').style.display = 'none';
                document.getElementById('search-company').style.display = 'block';
            } else { // display browse by default
                document.getElementById('browse').style.display = 'block';
                document.getElementById('insert-pos').style.display = 'none';
                document.getElementById('insert-aff').style.display = 'none';
                document.getElementById('insert-rec').style.display = 'none';
                document.getElementById('search-company').style.display = 'none';
            }
        }

        function newPosition() {
            showForm('insert-pos');
        }

        function newAffiliation() {
            showForm('insert-aff');
        }

        function newRecruiter() {
            showForm('insert-rec');
        }

        function searchCompany() {
            showForm('search-company');
        }

        function browseAll() {
            showForm('browse');
        }

        window.addEventListener('load', () => {
            showForm('browse');
        });
    </script>
</head>

<body>
    <div class="header">
        <h1>Positions & Company Recruiters</h1>
    </div>

    <a href="/">Home</a> |
    <a href="/applicants">Applicants</a> |
    <a href="/applications">Applications</a> |
    <a href="/companies">Companies</a> |
    <a href="/positionscompanyrecruiters">Positions & Company Recruiters</a>
    
    <div id='browse'>
    <!-- Select (Show) Positions-->
        <h3>Browse Positions</h3>
        <table class="table-class">
        <!-- Access data passed from app.py -->
            <thead>
                <tr>
                    <th>
                        <button class="new-btn" onClick="newPosition()">New</button>
                    </th>
                    <th>Company</th>
                    <th>Title</th>
                    <th>Location</th>
                    <th>Salary</th>
                    <th>Link</th>
                    <th>Position ID</th>
                </tr>
            </thead>

        {% if position_data %}
            <tbody>
            <!-- Iterate through every item in data -->
            {% for item in position_data %}
                <tr>
                    <!-- Edit button for each item -->
                    <td>
                        <a href="/edit-position/{{item.positionID}}" class="edit-btn">
                            Edit
                        </a>
                    </td>
                {% for key in item.keys() %}
                    {% if key == 'link' %}
                        <td><a href="{{item[key]}}"> {{item[key]}}</a> </td>
                    {% else %}
                    <!-- Create a <td> element with the value of that key in it -->
                        <td> {{item[key]}} </td> 
                    {% endif %} 
                {% endfor %}
                </tr>
            {% endfor %}
            </tbody>
        {% endif %}
        </table>
        <a class="btn-anchor" href="#" onClick="searchCompany()">
            <input class="btn" type="button" value="Search by Company">
        </a>
        <p>&nbsp;</p>

    <!-- Select (Show) Positions and Recruiters-->
        <h3>Browse Position and Recruiter Affiliations</h3>
        <table class="table-class">
        <!-- Access data passed from app.py -->
            <thead>
                <tr>
                    <th>
                        <button class="new-btn" onClick="newAffiliation()">New</button>
                    </th>
                    <th>Company</th>
                    <th>Title</th>
                    <th>Link</th>
                    <th>Recruiter Name</th>
                    <th>Recruiter ID</th>
                    <th>Position ID</th>
                    <th>Affiliation ID</th>
                </tr>
            </thead>
        
        {% if affiliation_data %}
            <tbody>
            <!-- Iterate through every item in data -->
            {% for item in affiliation_data %}
                <tr>
                    <!-- Delete buttons for each item -->
                    <td>
                        <a href="/delete-affiliation/{{item.positionsCompanyRecruitersID}}" class="delete-btn">
                            Delete
                        </a>
                    </td>
                {% for key in item.keys() %}
                    {% if key == 'link' %}
                        <td><a href="{{item[key]}}"> {{item[key]}}</a> </td>
                    {% else %}
                    <!-- Create a <td> element with the value of that key in it -->
                        <td> {{item[key]}} </td> 
                    {% endif %}
                {% endfor %}
                </tr>
            {% endfor %}
            </tbody>
        {% endif %}
        </table>
        <p>&nbsp;</p>

    <!-- Select (Show) Recruiters-->
        <h3>Browse Recruiters</h3>
        <table class="table-class">
            <!-- Access data passed from app.py -->
            <thead>
                <tr>
                    <th>
                        <button class="new-btn" onClick="newRecruiter()">New</button>
                    </th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>LinkedIn</th>
                    <th>Last Contacted</th>
                    <th>Details</th>
                    <th>Recruiter ID</th>
                </tr>
            </thead>
        
        {% if recruiter_data %}
            <tbody>
            <!-- Iterate through every item in data -->
            {% for item in recruiter_data %}
                <tr>
                    <!-- Edit button for each item -->
                    <td>
                        <a href="/edit-recruiter/{{item.recruiterID}}" class="edit-btn">
                            Edit
                        </a>
                    </td>
                {% for key in item.keys() %}
                    {% if key == 'linkedin' %}
                        <td><a href="{{item[key]}}"> {{item[key]}}</a> </td>
                    {% else %}
                    <!-- Create a <td> element with the value of that key in it -->
                        <td> {{item[key]}} </td> 
                    {% endif %}
                {% endfor %}
                </tr>
            {% endfor %}
            </tbody>
        {% endif %}
        </table>
        <p>&nbsp;</p>
    </div>

    <!-- Add Position Form -->
    <div id='insert-pos'>
        <h3>Add Position</h3>
        <!-- form to INSERT new Position into Positions entity -->
        <form id="insertPosition" action="/positionscompanyrecruiters" method="post">
            <fieldset>
                <label for="company-names">Company Name</label>
                    <select class="form-control" name="company-names" id="company-names">
                        <option value="None" selected>None</option>
                        {% for company in company_data %}
                            <option value="{{ company['companyID'] }}"> {{company['name']}}</option>
                        {% endfor %}
                    </select>
                <label for="title">Title</label> 
                <input 
                    type="text" 
                    class="form-control"
                    id="title" name="title" 
                    placeholder="Software Engineer"
                    maxlength="100"
                    required
                />
                <label for="location">Location</label> 
                <input 
                    type="text" 
                    class="form-control"
                    id="location" name="location" 
                    maxlength="100"
                    placeholder="Seattle"
                />
                <label for="salary">Salary</label> 
                <input 
                    type="number" 
                    class="form-control"
                    id="salary" name="salary" 
                    placeholder=""
                />
                <label for="link">Link</label> 
                <input 
                    type="url" 
                    class="form-control"
                    id="link" name="link" 
                    placeholder="https://apple.com"
                    pattern="(https?:\/\/(?:www\.|(?!www))[a-zA-Z0-9][a-zA-Z0-9-]+[a-zA-Z0-9]\.[^\s]{2,}|www\.[a-zA-Z0-9][a-zA-Z0-9-]+[a-zA-Z0-9]\.[^\s]{2,}|https?:\/\/(?:www\.|(?!www))[a-zA-Z0-9]+\.[^\s]{2,}|www\.[a-zA-Z0-9]+\.[^\s]{2,})"
                    maxlength="100"
                    required 
                />
                <div class="wrapper">
                    <!-- Create 'Add Position' and 'Cancel' buttons -->
                    <input type="submit" value="Add Position" name="Add_Position" class="btn btn-primary" style="margin:.5rem;">
                    <a class="btn-anchor" href='/positionscompanyrecruiters'>
                        <input class="btn" type="button" value="Cancel">
                    </a>
                </div>
            </fieldset>
        </form>
    </div>

    <!-- Add Position & Recruiter Affiliation Form -->
    <div id='insert-aff'>
        <h3>Add Position and Recruiter Affiliation</h3>
        <!-- form to INSERT new Position & Recruiter Affiliation -->
        <form id="insertAffiliation" action="/positionscompanyrecruiters" method="post">
            <fieldset>
                <label for="title">Position Title</label>
                    <select name="title" id="title">
                        {% for position in position_data %}
                            <option value="{{ position['positionID'] }}"> {{position['title']}}</option>
                        {% endfor %}
                    </select>
                <label for="recruiter-id">Recruiter Name</label>
                    <select name="recruiter-id" id="recruiter-id">
                        {% for recruiter in recruiter_data %}
                            <option value="{{ recruiter['recruiterID'] }}"> {{recruiter['name']}}</option>
                        {% endfor %}
                    </select>
                    <div class="wrapper">
                        <!-- Create 'Add Position and Recruiter Affiliation' and 'Cancel' buttons -->
                        <input type="submit" value="Add Affiliation" name="Add_Affiliation" class="btn btn-primary" style="margin:.5rem;">
                        <a class="btn-anchor" href='/positionscompanyrecruiters'>
                            <input class="btn" type="button" value="Cancel">
                        </a>
                    </div>
            </fieldset>
        </form>
    </div>

    <!-- Add Recruiter Form -->
    <div id='insert-rec'>
        <h3>Add Recruiter</h3>
        <!-- form to INSERT new Recruiter into Recruiters entity -->
        <form id="insertRecruiter" action="/positionscompanyrecruiters" method="post">
            <fieldset>
                <label for="name">Recruiter Name</label> 
                <input 
                    type="text" 
                    class="form-control"
                    id="name" name="name" 
                    pattern="^[A-Z][a-z]+\s[A-Z][a-z]+$" 
                    placeholder="John Smith" 
                    maxlength="50"
                    required
                />
                <label for="email">Email</label> 
                <input 
                    type="email" 
                    class="form-control"
                    id="email" name="email" 
                    placeholder="smithj@gmail.com"
                    maxlength="50"
                />
                <label for="phone">Phone</label> 
                <input 
                    type="text" 
                    class="form-control"
                    id="phone" name="phone" 
                    pattern="^[0-9]{3}[-][0-9]{3}[-][0-9]{4}$" 
                    placeholder="XXX-XXX-XXXX"
                />
                <label for="linkedin">LinkedIn</label> 
                <input 
                    type="url" 
                    class="form-control"
                    id="linkedin" name="linkedin" 
                    placeholder="https://linkedin.com/in/johnsmith"
                    pattern="(https?:\/\/(?:www\.|(?!www))[a-zA-Z0-9][a-zA-Z0-9-]+[a-zA-Z0-9]\.[^\s]{2,}|www\.[a-zA-Z0-9][a-zA-Z0-9-]+[a-zA-Z0-9]\.[^\s]{2,}|https?:\/\/(?:www\.|(?!www))[a-zA-Z0-9]+\.[^\s]{2,}|www\.[a-zA-Z0-9]+\.[^\s]{2,})"
                    maxlength="100"
                    required
                />
                <label for="lastContacted">Last Contacted</label> 
                <input 
                    type="date" 
                    class="form-control"
                    id="lastContacted" name="lastContacted"
                    required
                />
                <label for="details">Details</label> 
                <input 
                    type="text" 
                    class="form-control"
                    id="details" name="details" 
                    maxlength="500"
                    required
                />
                <div class="wrapper">
                    <!-- Create 'Add Recruiter' and 'Cancel' buttons -->
                    <input type="submit" value="Add Recruiter" name="Add_Recruiter" class="btn btn-primary" style="margin:.5rem;">
                    <a class="btn-anchor" href='/positionscompanyrecruiters'>
                        <input class="btn" type="button" value="Cancel">
                    </a>
                </div>
            </fieldset>
        </form>
    </div>

    <div id='search-company'>
        <h3>Search Positions by Company</h3>
        <!-- form to SEARCH Positions by Company -->
        <form id="searchPositionsByCompany" action="/search-positions" method="get">
            <fieldset>
                <label for="company-name">Company Name</label>
                    <select class="form-control" name="company-name" id="company-name">
                        {% for company in company_data %}
                            <option value="{{ company['companyID'] }}"> {{company['name']}}</option>
                        {% endfor %}
                    </select>
                    <div class="wrapper">
                        <input type="submit" value="Search Positions" name="Search_Position_By_Company" class="btn btn-primary" style="margin:.5rem;">
                        <a class="btn-anchor" href='/positionscompanyrecruiters'>
                            <input class="btn" type="button" value="Cancel">
                        </a>
                    </div>
            </fieldset>
        </form>
    </div>

</body>
</html>