<html>
<head>
	<title>Search Positions</title>
    <link href="../static/style.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <div class="header">
        <h1>Positions</h1>
        <div class="navbar">
            <a href="/">Home</a> |
            <a href="/applicants">Applicants</a> |
            <a href="/applications">Applications</a> |
            <a href="/companies">Companies</a> |
            <a href="/positionscompanyrecruiters">Positions & Company Recruiters</a>
        </div>
    </div>

    <a href="/">Home</a> |
    <a href="/applicants">Applicants</a> |
    <a href="/applications">Applications</a> |
    <a href="/companies">Companies</a> |
    <a href="/positionscompanyrecruiters">Positions & Company Recruiters</a>

    <!-- BROWSE -->
    <div id='searchPositions'>
        <h3>Positions Search Results</h3>
        <table class="table-class">
        <!-- Access data passed from app.py -->
            <thead>
                <tr>
                    <th>Company</th>
                    <th>Title</th>
                    <th>Location</th>
                    <th>Salary</th>
                    <th>Link</th>
                    <th>Position ID</th>
                </tr>
            </thead>

        {% if search_data %}
            <tbody>
            <!-- Iterate through every item in data -->
            {% for item in search_data %}
                <tr>
                {% for key in item.keys() %}
                    <!-- Create a <td> element with the value of that key in it -->
                    <td> {{item[key]}} </td> 
                {% endfor %}
                </tr>
            {% endfor %}
            </tbody>
        {% else %}
            <tbody>
                <tr>
                    <td></td>
                </tr>
            </tbody>
        {% endif %}
        </table>

        <!-- Return to All Applications Button -->
        <a class="btn-anchor" href='/positionscompanyrecruiters'>
                <input class="btn" type="button" value="Return to All Positions">
            </a>
    </div>
    <!-- END BROWSE -->

</body>
</html>